.register {
  height: calc(100vh);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('https://images.pexels.com/photos/27362197/pexels-photo-27362197/free-photo-of-a-lone-tree-in-a-field-with-pink-clouds.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
}
.register-title {
  font-size: 50px;
}

.register-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.register-form label {
  margin: 10px 0;
}

.register-input {
  padding: 10px;
  background-color: white;
  border: none;
}

.register-button {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.register-login-button {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
